@import url(http://fonts.googleapis.com/css?family=Londrina+Outline|McLaren);

body {
    font-family: 'McLaren', cursive;
    font-weight: 100;
    font-size: 14px;
    background-color: #fff;
}

header {
    background-color: #222;
    padding: 10px;
    margin-bottom: 10px;
    line-height: 1.2;
    overflow: visible;
    position: relative;
}

h1 {
    font-family: 'Londrina Outline', cursive;
    font-size: 158px;
    text-align: center;
    color: #ccc;
}

h2 {
    position: fixed;
    right: 10px;
    bottom: 0;
    background-color: #222;
    color: white;
    line-height: 1.5;
    padding: 5px;
    font-size: 12px;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #4169e1;
}

a:hover {
    color: #6495ED;
}

.error {
    position: absolute;
    width: 300px;
    left: 50%;
    top: 35%;
    margin-left: -150px;
    box-sizing: border-box;
    padding: 5px;
    background: #fff;
    box-shadow: 0 0 8px #ddd;
    display: none;
    z-index: 101;
    min-height: 150px;
    text-align: center;
    padding-top: 20px;
}

.error img {
    display: block;
    margin: 20px auto;
}

.error span {
    display: block;
    position: absolute;
    background: #222;
    border: 2px solid #fff;
    width: 20px;
    height: 20px;
    border-radius: 14px;
    color: #fff;
    top: -8px;
    right: -8px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
}

ol {
    list-style-type: none;
    text-align: center;
    perspective: 1000px;
}

ol li {
    border: 15px solid #fff;
    box-shadow: 0 0 8px #ddd;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 5px 20px;
    cursor: pointer;
    opacity: 0.9;
    position: relative;
    z-index: 95;
    
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -ms-transition: all 1.0s ease;
    transition: all 1.0s ease;
    
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transform-origin: 30%;
    -moz-transform-origin: 30%;
    -ms-transform-origin: 30%;
    transform-origin: 30%;
}

ol li.back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

ol li.wrong,
ol li.wrong:hover {
    border-color: #b22222;
    background-color: #b22222;
}

ol li.wrong img {
    opacity: 0.5;
}

ol li.correct,
ol li.correct:hover {
    border-color: #228b22;
    background-color: #228b22;
}

ol li:hover {
    border-color: #fffafa;
    opacity: 1;
}

ol img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 98;
}

.description {
    width: 780px;
    margin: 10px auto;
    font-size: 24px;
}

.description p {
    line-height: 1.4;
    margin-bottom: 14px;
    color: #666;
}

.result {
    width: 780px;
    line-height: 1.2;
    font-size: 18px;
    color: #666;
    margin: 5px auto;
}

.wrong {
    color: #b22222;
}

.correct {
    color: #228b22;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.85;
    display: none;
    z-index: 100;
}